<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.speaknote.speaknote.mapper.AudioResultMapper">

    <insert id="insert"
            parameterType="com.speaknote.speaknote.domain.AudioResult"
            useGeneratedKeys="true"
            keyProperty="idx"
    >
        INSERT INTO audio_result (
                recorder_id,
                dialogue,
                summary,
                file_name,
                file_path,
                file_size
        ) VALUES (
                #{recorderId},
                #{dialogue},
                #{summary},
                #{fileName},
                #{filePath},
                #{fileSize}
        )
    </insert>

    <!-- &lt; == < -->
    <select id="findOldData" resultType="com.speaknote.speaknote.domain.OldData">
        SELECT idx, file_path FROM audio_result
        WHERE created &lt; NOW() - INTERVAL 7 DAY
    </select>

    <delete id="deleteOldDataByIdxList" parameterType="list">
        DELETE FROM audio_result
        WHERE idx IN
        <foreach collection="list"
                 item="idx"
                 open="("
                 separator=","
                 close=")">
            #{idx}
        </foreach>
    </delete>
    
    <select id="findHistoryByRecorderIdBeforeIdx" resultType="com.speaknote.speaknote.domain.AudioResult">
        SELECT idx, dialogue, summary, file_path, created FROM audio_result
        WHERE recorder_id = #{recorderId}
        AND idx &lt; #{lastIdx}
        ORDER BY idx DESC
        LIMIT #{limit}
    </select>
    
</mapper>
