<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.speaknote.speaknote.mapper.AudioResultMapper">

    <insert id="insert" parameterType="AudioResult">
        INSERT INTO audio_result (
                recorder_id,
                dialogue,
                summary,
                file_name,
                file_path,
                file_size
        ) VALUES (
                #{recorderId},
                #{dialogue},
                #{summary},
                #{fileName},
                #{filePath},
                #{fileSize}
        )
    </insert>

</mapper>
